 body {
  margin: 0;
  background: #f7e79a;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}
@font-face {
  font-family: 'NinjaNaruto';
  src: url('Font/njnaruto.ttf') format('truetype');
}



.hud-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: -90px;
  z-index: 1;
}

.player-side {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  border: 4px solid #000;
  border-radius: 12px;

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.left {
  background: linear-gradient(180deg, #f99b4a 0%, #e6712e 100%);
  z-index: 2;
}

.right {
  background: linear-gradient(180deg, #78c6ff 0%, #4e9ddb 100%);

}

.player-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 padding-bottom: 1rem;
}

.player-icon {
  background: #c00;
  color: #fff;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.character-display {
  text-align: center;
  margin-top: 10px;
}

.main-character {
  width: 180px;
  height: auto;
  border: 3px solid #000000;
  border-radius: 8px;
}

.char-name {
  background: #2c2c2c;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 8px;
}

.grade1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  overflow-x: auto;
 
}

.grade2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  overflow-x: auto;
 
}


 .char-grid-1::-webkit-scrollbar {

  width: 0px;
 }

.selecionado {
  width: 60px;
  height: 60px;
  border-style: dashed solid;
  border: 20px solid #ff0d0d;

}

.grade1 img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 4px solid #000;
  border-radius: 6px;

}
.grade2 img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 4px solid #000;
  border-radius: 6px;

}


.hud-footer {
  margin-top: 25px;
  background: #222;
  color: #fff;
  width: 70%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}



  
.buttons {
  display: flex;
  justify-content:  space-around;
  align-items:  center;
}
.pfooter {
  width: 3rem;
    background: #c00;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3)

}
.containerfoto {
 
 
}

.fotohud1{
  
position: relative;
margin-left: -46%;

  animation: rodar 10s linear infinite;

}


.fotohud2{

margin-bottom: 0px;
animation: rodar 10s linear infinite;
margin-right: 0px;
margin-top: 0px;

}

.nomep2{
      align-self: end;
  height: 50px;
  width: 200px;
  background-color: #273E4B;
  border: 5px solid #D43E39;
   z-index: 2;
   position: relative;
    text-align: end  ;
   color: white;
   font-size: 25px;
   text-align: center;
   margin-bottom: 2rem;
     border-radius:10px;
       background-image: url('img/fundo_botao.png');
     background-repeat:space ;
   
     
font-family: 'NinjaNaruto', sans-serif;
  
  color: #fff;
  text-shadow: 2px 2px 4px #000;

}
.nomep1{
position:relative;
  margin-top: 63%;
margin-left: -44%;




     background-image: url('img/fundo_botao.png');
     background-repeat: no-repeat;
     background-position: 130px;



  height: 50px;
  width: 200px;
  background-color: #273E4B;
  border: 5px solid #D43E39;
   
    text-align: end  ;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 2rem;
  
      z-index: 10;

   border-radius:10px;

font-family: 'NinjaNaruto', sans-serif;
  
  color: #fff;
  text-shadow: 2px 2px 4px #000;

}






.fotouser1
{
position:absolute ;
top: 34%;
left: 8%;
z-index: 10;
}
.fotouser1 img { 
  width: 200px;
height: 200px;

}
.sobreposta
{
margin-top: 25%;
margin-left: -50%;
  position: absolute;

  inset: 0;

}
.conjunto_foto_rodar
{
position: relative;
 display: flex;
}

@keyframes rodar {


from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}